.link_modify_container {
  display: none;
}
.link_modify_container.fade_in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.link_modify_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 300px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
}

.link_input,
.name_input {
  all: unset;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}

.LMSpan {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-right: 50px;
}
.LMURL,
.LMName {
  width: 450px;
  height: 60px;
  /* border: 1px solid black; */
  margin-top: 30px;
}

.LMURL {
  margin-top: 50px;
}
.link_input:focus,
.name_input:focus {
  border: 1px solid black;
}

.inputBtn {
  width: 45px;
  height: 30px;
  border-radius: 0%;
  font-size: 14px;
  font-weight: 800;
}
.LMinfo {
  width: 400px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 50px;
}

.LMURLDel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 700px;
  height: 70px;
  padding-top: 30px;
}

.delBtn {
  width: 100px;
  height: 30px;
  color: rgb(255, 52, 52);
  border-radius: 0%;
  font-size: 14px;
  font-weight: 800;
  margin-right: 20px;
}
